<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/Scripts/jQuery/ui-1.11.4/jquery-ui.css">
    <link rel="stylesheet" href="~/Scripts/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Scripts/Bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="~/Scripts/jQuery/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jQuery/ui-1.11.4/jquery-ui.min.js"></script>
    <script src="~/Scripts/Bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @{ /* <a class="navbar-brand" href="#">Brand</a> */ }
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        @{ /* <li @((ViewBag.ActiveMenuItem != "contractor")?"class=active":"")><a href="~/Contractor">Клиенти</a></li> */ }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Клиенти <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Карти</a></li>
                                <li><a href="~/Contractor">Клиенти и Доставчици</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="~/Discount">Отстъпки</a></li>
                                <li><a href="~/Discount/Groups">Група отстъпки</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Версия 1.0.1</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Профил <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Account/LogOff">Изход</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    }
    <div class="container-fluid">
        @RenderBody()
    </div> <!-- /container -->
    @if (!Request.IsAuthenticated)
    {
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="?lang=bg-BG">Български</a></li>
                <li><a href="?lang=en-US">English</a></li>
            </ul>
        </div>
    </nav>
    }
</body>
</html>
